@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$fuente: 'Montserrat';
$color1: #46B6AC;
$color2: #F08116;
$color3: #f12711;
$color4: mix($color3, #f5Af19, 50%);


.btn-primary{
    background-color: $color4;
}
