@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$fuente: 'Montserrat', sans-serif;
$color1: #46B6AC;
$color2: #F08116;
$color3: #f12711;
$color4: mix($color1, $color2, 50%);