<form class="row g-3 offset-1" novalidate (ngSubmit)="aplicarFiltros($event)">
    <div class="input-group">
        <span class="input-group-text">
            <i class="bi bi-search"></i>
        </span>
        <input type="text" name="nombre" class="form-control" 
               placeholder="Buscar..." [(ngModel)]="filtros.nombre" />
    </div>
    <div class="input-group">
        <div class="col-md-12">
            <label for="provincias" class="form-label">Provincia</label>
            <select class="form-select" name="provincia" id="provincias" 
                    [(ngModel)]="filtros.provincia" (change)="onProvinciaSelected($event)">
                <option value="" selected></option>
                @for (region of empresaService.getRegiones(); track region) {
                    <option [value]="region.name">{{region.name}}</option>
                }
            </select>
        </div>
    </div>
    <div class="input-group">
        <div class="col-md-12">
            <label for="localidad" class="form-label">Localidad</label>
            <select class="form-select" name="localidad" id="localidad" 
                    [(ngModel)]="filtros.localidad">
                <option value="" selected></option>
                @for (ciudad of empresaService.getCiudades(); track ciudad) {
                    <option [value]="ciudad">{{ciudad}}</option>
                }
            </select>
        </div>
    </div>
    <div class="input-group">
        <div class="col-md-12">
            <label for="categoria" class="form-label">Categoria</label>
            <select class="form-select" name="categoria" id="categoria" 
                    [(ngModel)]="filtros.categoria" (change)="onCategoriaChange($event)">
                <option value="" selected></option>
                @for (categoria of empresaService.getCategorias(); track categoria) {
                    <option [value]="categoria.name">{{categoria.name}}</option>
                }
            </select>
        </div>
    </div>
    <div class="input-group">
        <div class="col-md-12">
            <label for="servicio" class="form-label">Servicio</label>
            <select class="form-select" name="servicio" id="servicio" 
                    [(ngModel)]="filtros.servicio">
                <option value="" selected></option>
                @for (servicio of empresaService.getServicios(); track servicio) {
                    <option [value]="servicio.name">{{servicio.name}}</option>
                }
            </select>
        </div>
    </div>
    <div class="d-grid gap-2 col-12 mx-auto mt-4">
        <div class="row">
            <div class="col-12 mb-2">
                <button type="submit" class="btn btn-gradient w-100">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel-fill me-2" viewBox="0 0 16 16">
                        <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5z"/>
                    </svg>
                    <span>Aplicar Filtros</span>
                </button>
            </div>
            <div class="col-12">
                <button type="reset" class="btn btn-gradient-secondary w-100" (click)="onReset($event)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-counterclockwise me-2" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2z"/>
                        <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466"/>
                    </svg>
                    <span>Restablecer</span>
                </button>
            </div>
        </div>
    </div>
</form>