<div class="container mt-4">
    <form action="" method="post">
        <div class="row">
            <h1 class="col-12">Creacion de formularios de empresas</h1>
            <div class="col-5 row select-empresa justify-content-center text-center">
                <label for="" class="col-12">Selecciona la empresa</label><br>
                <select name="empresa" id="" class="col-9">
                    <option value="1">Empresa 1</option>
                    <option value="2">Empresa 2</option>
                </select>
            </div>
            <div class="col-5 row select-centro justify-content-center text-center">
                <label for="" class="col-12">Selecciona el centro</label>
                <select name="centro" id="" class="col-9">
                    <option value="1">Centro 1</option>
                    <option value="2">Centro 2</option>
                </select>
            </div>
            <button type="button" id="siguiente" class="btn btn-primary col-3 offset-4 mt-4">Siguiente</button>
        </div>
        <div class="row preguntas-empresas">
            <h1 class="col-12">Seleccione las preguntas para el formulario de la empresa</h1>
            <label class="col-12" for=""><input type="checkbox" name="preguntas" value="pregunta1">pregunta1</label><br>
            <label class="col-12" for=""><input type="checkbox" name="preguntas" value="pregunta2">pregunta2</label><br>
            <label class="col-12" for=""><input type="checkbox" name="preguntas" value="pregunta3">pregunta3</label><br>
            <label class="col-12" for=""><input type="checkbox" name="preguntas" value="pregunta4">pregunta4</label>
            <button type="submit" class="btn btn-primary col-2 offset-7">Crear Formulario</button>
        </div>
        <div class="row preguntas-alumnos">
            <h1 class="col-12">Seleccione las preguntas para el formulario del alumno</h1>
            <label class="col-12" for=""><input type="checkbox" name="preguntas" value="pregunta1">pregunta1</label><br>
            <label class="col-12" for=""><input type="checkbox" name="preguntas" value="pregunta2">pregunta2</label><br>
            <label class="col-12" for=""><input type="checkbox" name="preguntas" value="pregunta3">pregunta3</label><br>
            <label class="col-12" for=""><input type="checkbox" name="preguntas" value="pregunta4">pregunta4</label>
            <button type="submit" class="btn btn-primary col-2 offset-7">Crear Formulario</button>
        </div>
    </form>
</div>
